
.header{
    display: flex;
}

.header-left, .header-right{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 10px 0px;
    margin: 0px auto;
    align-items: center;
}

.header-left li, .header-right li{
    margin: 0px 20px;
}

.logo{
    height: 60px;
}

.bell-logo-img{
    width: 1.6rem;
    height: 1.6rem;
}
.profile-logo-img{
    width: 1.6rem;
    height: 1.6rem;
}

.setting-logo-img{
    width: 1.6rem;
}


.leaderboard-logo-img{
    width: 1.5rem;
    filter: invert(1);
}
.home-logo-img{
    width: 1.5rem;
    
}

.navigation-link {
  color: #FFE500; 
  height: 2rem;
  padding: 5px 10px;
  border: none;  
  border-radius: 4px;  
  text-decoration: none;  
  font-weight: bold;  
  display: inline-block;  
  cursor: pointer;  
  position: relative;  
  align-content: center;
}

.navigation-link:hover {
  border: 1px solid #FFE500;
  transition: border 0.2s ease-in-out;
}

  


.login-link {
    color: #FFE500; 
    background-color: rgb(99, 107, 104); 
    height: 2rem;
    padding: 5px 10px;  
    border: none;  
    border-radius: 4px;  
    text-decoration: none; 
    font-weight: bold;  
    display: inline-block;  
    cursor: pointer;  
    align-content: center;
  }
  
  .login-link:hover {
    background-color: #ffd700;  
    color: rgb(99, 107, 104);
    transition: background-color 0.2s ease-in-out;  
  }
  